// **********************************************
//Mixins
// **********************************************

@mixin navigation-setUp($padding) {
  & li {
    list-style-type: none;
  }
  & a {
    display: block;
    padding: $padding;
  }
}

//hover link
@mixin hover-link-style($background-color, $hover-text-color) {
  & a:hover {
  background-color: $background-color;
  color: $hover-text-color;
  }
}

//flexbox settings
@mixin flex-settings($disp: flex,
$dir: null,
$wrap: null,
$just: null) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
}

//blockquote
@mixin blockquote-setUp($font-family, $border-color) {
  font-family:$font-family, Courier, monospace;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 50px;
  padding-left: 1em;
  border-left: 5px solid $border-color;
  border-radius: 5px 0 0 5px;
  font-size: 1.2em;
}

//image with borders
@mixin image-framed($border-color) {
  padding: 10px;
  border: solid 1px $border-color;
}

//media query
@mixin mq ($break) {
  @media (min-width: $break) {
    @content;
  }
}
