// **********************************************
//Mixins
// **********************************************

@mixin hover-link-style($background-color, $hover-text-color) {
  & a:hover {
  background-color: $background-color;
  color: $hover-text-color;
  }
}

@mixin blockquote-setUp($font-family, $border-color) {
  font-family:$font-family, Courier, monospace;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 50px;
  padding-left: 1em;
  border-left: 5px solid $border-color;
  border-radius: 5px 0 0 5px;
  font-size: 1.2em;
}
