// **********************************************
// Placeholders
// **********************************************

%text-align-center {
  text-align: center;
}

%gutter-10px {
  padding-left: 10px;
  padding-right: 10px;
}

%button-setUp {
  color: white;
  padding: 12px 10px 10px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  margin-top: 1em;
}

%grid-setup {
  padding: 12px 10px 10px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  margin-top: 0.4em;
}

%image-framed {
  padding: 10px;
  border: solid 1px gray;
}
