// **********************************************
//Variables
// **********************************************



//COLORS **********************************************

$color-style-primary: #4FDFF0;
$color-font-primary: 	#A0A0A0;
$color-white: #fff;

//FONTS **********************************************
@import url('https://fonts.googleapis.com/css?family=Karma');
$font-stack: 'Karma', serif;
