// **********************************************
//Variables
// **********************************************

//COLORS **********************************************
$color-font-primary: 	#A0A0A0;
$color-white: #fff;

$color-style-primary: #4FDFF0;

//list with button names
$button-names: ('btn--default', 'btn--success', 'btn--error', 'btn--warning', 'btn--info');

//colors for button
$button-color-pairs: (
'success': #63cc82,
'error': #e4757a,
'warning': #fd7856,
'info': #927bc1,
);

//colors for grid_col classes
$grid-colors: (
  3 : #deb2ee,
  4 : #7ee6fd,
  5 : #88d9a0,
  6 : #3fabca,
  7 : #ec9fa3,
  8 : #fd9f85,
  12 : #80e8d1,
);

//FONTS **********************************************
@import url('https://fonts.googleapis.com/css?family=Karma');
$font-stack: 'Karma', serif;

//media query breakpoints **********************************************

$breakpoint: 768px;
