// **********************************************
// Form
// **********************************************

.form {
 @include flex-settings($dir: column);
}

.img--avatar {
  align-self: center;
  margin-top: 30px;
  margin-bottom: 30px;
  @include mq ($breakpoint) {
    margin-top: 0px;
  }
}

.form__input {
  border: none;
  border-bottom: 7px solid #4FDFF0;
  width: 95%;
  align-self: center;
  margin-bottom: 1em;
  padding: 10px;
}

.headline--secondary {
  margin-top: 21.280px;
  margin-bottom: 21.280px;
}

.form__label--hidden {
  display: none;
}

.btn--default {
  @extend %button-setUp;
  background-color: $color-style-primary;
}
