// **********************************************
// Navigation
// **********************************************

.grid__col--3 {
  margin-top: 30px;
  margin-bottom: 15px;
}

.grid__col--3 {
  text-align: center;
}

.nav {
  padding: 0px;
  @extend %navigation-setUp;
  @include hover-link-style($color-style-primary, $color-white);
  }

.card p {
  @extend %gutter-10px;
}
